

header {
  padding: 24px 32px;
  background-color: var(--white);
  border: var(--lines-light) solid 1px;

  .board-divider {
    width: 1px;
    height: 24px;
    background-color: var(--lines-light);
    
  }

  .board-name {
    font: var(--heading-xl);
  }

  .add-task-btn {
    padding: 14px 24px;
   font : var(--heading-m);
    border-radius: var(--border-radius-main);
    border: none;
    background-color: var(--main-purple);
    color: var(--white);
    transition: background-color 0.4s ease;

    &:hover {
      background-color: var(--main-purple-hover);
    }

   
  }
}