<header class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center gap-3">
    <img src="/assets/logo-dark.svg" alt="Kanban Logo" width="152.53" height="25.22" />
    <div class="board-divider"></div>
    <h1 class="board-name mb-0">Platform Launch</h1>
  </div>

  <div class="d-flex align-items-center gap-3">

      <button class="btn btn-primary add-task-btn">
        + Add New Task
      </button>
     <button class="border-0 bg-light"> <img src="/assets/icon-vertical-ellipsis.svg" alt=""> </button> 
  </div>
</header>
